<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.email %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>


    <table>
    <% @monitorings.each do |m| %>
      <tr>
        <td><%= link_to m.server.name, m.server.host %></td>
        <td><%= m.protocol %></td>
        <td><%= m.status ? 'UP' : 'DOWN' %></td>
        <td><%= m.created_at %></td>
      </tr>
    <% end %>
    </table>
  </body>
</html>