
<div class="row">
    <div class="span8">
        <h2><%# l(:label_information_plural)%></h2>

        <p><strong><%= RMonitor::Info.versioned_name %></strong></p>
        <br />
        <div class="box">
        <pre><%= RMonitor::Info.environment %></pre>
        </div>

        <%# html_title(l(:label_information_plural)) -%>
    </div>
    <div class="span4">
        <ul class="nav nav-tabs nav-stacked">
            <li><%= link_to "Home", :admin %></li>
            <li><%= link_to "Servers", :admin_servers %></li>
            <li><%= link_to "Informations", :admin_info %></li>
        </ul>
    </div>
</div>
