<table class="table table-striped">
  <thead>
    <tr>
      <th width="5">#</th>
      <th width="">Name</th>
      <th width="">Host</th>
      <th width="">Last synchronization</th>
      <th width=""></th>
    </tr>
  </thead>
  <tbody>
    <% @servers.each do |server| %>
    <tr>
      <td><%= server.id %></td>
      <td><%= link_to server.name, server_path(server) %></td>
      <td><%= server.host %></td>
      <td><%= server.synchronized_at %></td>
      <td>
        <%= link_to "edit", edit_server_path(server) %>
        <%= link_to "#", :data => {:confirm => "Are you sure?"}, :method => :delete, :class => "btn btn-mini btn-danger" do %>
          <i class="icon-trash icon-white"></i> Delete
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_server_path(), :class => "btn btn-success" do %>
  <i class="icon-plus icon-white"></i> New server
<% end %>
