<% content_for :title, "Servers" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="5">#</th>
      <th width="">Name</th>
      <th width="">Host</th>
      <th width="">Last synchronization</th>
      <th width=""></th>
    </tr>
  </thead>
  <tbody>
    <% @servers.each do |server| %>
    <tr>
      <td><%= server.id %></td>
      <td><%= link_to server.name, server_path(server) %></td>
      <td><i class="icon-hdd"></i> <%= server.host %></td>
      <td><i class="icon-time"></i> <%= server.synchronized_at.blank? ? "Never" : server.synchronized_at %></td>
      <td>
        <%= link_to edit_server_path(server) do -%><i class="icon-cog"></i>Edit<%- end -%>
        -
        <%= link_to server_path(server), :data => {:confirm => "Are you sure?"}, :method => :delete do -%><i class="icon-trash"></i>Delete<%- end -%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_server_path(), :class => "btn btn-success" do %>
  <i class="icon-plus icon-white"></i> New server
<% end %>
