<% content_for :title, "Settings" %>

<%= form_tag(admin_edit_settings_path(), :class => "form-horizontal") do %>
    <fieldset>
        <legend>Display</legend>

        <div class="control-group">
            <%= label_tag :settings_app_title, t(:app_title), :class => "control-label" %>
            <div class="controls">
                <%= text_field_tag "settings[app_title]", @settings.app_title, :class => "input-xlarge" %>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="settings_monitoring_is_public" class="checkbox">
                    <%= check_box_tag("settings[monitoring_is_public]", 1, @settings.monitoring_is_public?) %>
                    <%= t(:monitoring_is_public) %>
                </label>
            </div>
        </div>

        <div class="form-actions">
            <%= submit_tag "Save changes", :class => "btn btn-primary" %>
            <%= link_to t(:cancel), :back, :data => {:confirm => "Are you sure?"}, :class => "btn" %>
        </div>
    </fieldset>
<% end %>
