<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Brand status</h1>
</div>

<!-- Example row of columns -->
<% @servers.each do |server| %>
<div class="server visible-phone">
  <div class="row">
    <div class="span12">
      <h2><i class="icon-hdd"></i> <%= link_to server.name, "#" %> <span style="color: <%= server.status ? 'green' : 'red' %>;"><%= server.status ? 'green' : 'red' %></span></h2>
    </div>
  </div>
</div>
<div class="server hidden-phone">
  <div class="row">
    <div class="span2">
      <div class="full-circle <%= server.status ? 'green' : 'red' %>">
        <span>99.99%</span>
      </div>
    </div>

    <div class="span10">
      <h2><%= link_to server.name, "#" %></h2>
      <h4>Last logs</h4>
      <p>https://devcenter.heroku.com/articles/heroku-status-uptime-calculation</p>
    </div>
  </div>
</div>
<% end %>
