<% content_for :title, t(:dashbord) %>

<div class="page-header">
    <h1><%= yield :title %></h1>
</div>


<h2>Alerts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Server</th>
            <th width="5">Status</th>
            <th width="40">Protocol</th>
            <th width="180">At</th>
        </tr>
    </thead>
    <tbody>
    <%- if @monitorings.blank? -%>
        <tr>
            <td colspan="4">No alerts</td>
        </tr>
    <%- else -%>
        <%- @monitorings.each do |monitoring| %>
        <tr>
            <td><%= link_to monitoring.server.name, server_path(monitoring.server) %></td>
            <td><span class="badge badge-<%= monitoring.status ? 'success' : 'important' %>">&nbsp;</span></td>
            <td><%= monitoring.protocol %></td>
            <td><i class="icon-time"></i> <%= monitoring.created_at %></td>
        </tr>
        <% end -%>
    <%- end -%>
    </tbody>
</table>