
<div class="row">
    <div class="span4">
        <h2><%= @server.name %></h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Host</th>
                    <td><i class="icon-hdd"></i> <%= @server.host %></td>
                </tr>
                <tr>
                    <th>Last synchronization</th>
                    <td><i class="icon-time"></i> <%= @server.synchronized_at %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="span8">
        <h2>Monitorings</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="5">Status</th>
                    <th width="">Protocol</th>
                </tr>
            </thead>
            <tbody>
            <%- if @monitorings.blank? -%>
                <tr>
                    <td colspan="2">No alerts</td>
                </tr>
            <%- else -%>
                <%- @monitorings.each do |monitoring| %>
                <tr>
                    <td><span class="badge badge-<%= monitoring.status ? 'success' : 'important' %>">&nbsp;</span></td>
                    <td><%= monitoring.protocol %></td>
                </tr>
                <% end -%>
            <%- end -%>
            </tbody>
        </table>

    </div>
</div>
