<% content_for :title, t(:my_preferences) %>

<div class="page-header">
    <h1><%= yield :title %></h1>
</div>

<%= form_for(@user, :url => user_preferences_path(), :html => {:class => "form-horizontal"}, :remote => true) do |f| %>
<fieldset>
    <%= f.fields_for :preferences do |pf| %>
    <div class="control-group">
        <%= pf.label :time_zone, :class => "control-label" %>
        <div class="controls">
            <%= pf.time_zone_select :time_zone, nil, {}, :class => "input-xlarge" %>
        </div>
    </div>
    <% end %>

    <div class="control-group">
        <%= f.label :language, :class => "control-label" %>
        <div class="controls">
            <%= f.select :language, Setting.options_for(:default_language), :class => "input-xlarge" %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :email_notification, :class => "control-label" %>
        <div class="controls">
            <%= f.check_box :email_notification %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.submit "Save changes", :class => "btn btn-primary" %>
        <%= cancel_tag :root %>
    </div>
</fieldset>
<% end %>
