<% content_for :title, t(:server).pluralize %>
<h2><i><%= @protocol %></i> history of <i><%= current_server.name %></i></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="">Protocol</th>
      <th width="5">Status</th>
      <th width="">At</th>
    </tr>
  </thead>
  <tbody>
    <% @monitorings.each do |monitoring| %>
    <tr>
      <td><%= monitoring.protocol %></td>
      <td><span class="badge badge-<%= monitoring.status ? 'success' : 'important' %>"><%= monitoring.status ? 'UP' : 'DOWN' %></span></td>
      <td><i class="icon-time"></i> <%= monitoring.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
