<h2>New server</h2>

<%= form_for(@server, :url => admin_server_path(@server)) do |f| %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :host %><br />
  <%= f.text_field :host %></div>

  <div><%= f.submit "Update" %></div>
<% end %>
