
<% @servers.each do |server| %>
<div class="server">
  <div class="row visible-phone">
    <div class="span12">
      <h2>
        <%= link_to server.name, "#", :title => "Last synchronization at #{server.synchronized_at}" %>
        <span style="color: <%= server.status ? 'green' : 'red' %>;"><%= server.status ? 'green' : 'red' %></span>
      </h2>
    </div>
  </div>

  <div class="row hidden-phone">
    <div class="span1 offset1">
      <div class="full-circle <%= server.status ? 'green' : 'red' %>">
        <span class="uptime"><%= server.uptime.round(2) %>%</span>
      </div>
    </div>

    <div class="span3">
      <h2 class="name">— <%= link_to server.name, "#", :title => "Last synchronization at #{server.synchronized_at}" %></h2>
    </div>

    <div class="span7">
      <h4>Last logs</h4>
      <p>https://devcenter.heroku.com/articles/heroku-status-uptime-calculation</p>
      <pre>
        <% outtime = 0
        outtimes = []
        latest = nil

        monitorings = server.monitorings
        return null if monitorings.nil?

        monitorings.order('created_at ASC').each do |m|
          if !latest.nil? && latest.status != m.status
            outtime += m.created_at - latest.created_at
            outtimes << [m.created_at, latest.created_at, outtime]
          end
          latest = m
        end

        if !latest.status
          outtime += Time.now - latest.created_at
            outtimes << [Time.now, latest.created_at, outtime]
        end

        total_time = Time.now - (server.monitorings.order('created_at DESC').last).created_at
        %>
        <%= total_time %>
        <%= latest.status %>
        <%= outtime %>
        <%= outtimes %>
        <%= 100 - ((total_time - outtime) / total_time) %>
      </pre>
    </div>
  </div>
</div>
<% end %>
