
<% @servers.each do |server| %>
<div class="server">
  <div class="row visible-phone">
    <div class="span12">
      <h2>
        <%= link_to server.name, "#", :title => "Last synchronization at #{server.synchronized_at}" %>
        <span style="color: <%= server.status ? 'green' : 'red' %>;"><%= server.status ? 'green' : 'red' %></span>
      </h2>
    </div>
  </div>

  <div class="row hidden-phone">
    <div class="span1 offset1">
      <div class="full-circle <%= server.status ? 'green' : 'red' %>">
        <span class="uptime"><%= server.uptime.round(2) %>%</span>
      </div>
    </div>

    <div class="span3">
      <h2 class="name">— <%= link_to server.name, "#", :title => "Last synchronization at #{server.synchronized_at}" %></h2>
    </div>

    <div class="span7">
      <h4>Last logs</h4>
      <p>Real uptime <%= server.uptime %></p>
      <pre>
      <%
        downtime = 0
        prev     = nil
        started  = Time.now.at_beginning_of_month if started.nil?
        ended    = Time.now.at_end_of_month if ended.nil?

        monitorings = server.monitorings.where("protocol = ? AND (? <= created_at AND created_at <= ?)", 'Ping', started, ended)
                                        .order('created_at ASC')
    
    unless monitorings.empty?

      %>
      <%# "#{monitorings.first.created_at} #{monitorings.first.status}" if monitorings.first %>
      <%

        monitorings.each do |m|
      %>
      <%= "-- #{m.created_at}(#{m.status})" %>
      <%
          if m.status == Monitoring::UP
            if m == monitorings.first
              downtime += monitorings.first.created_at - started
      %>
      <%= "------ #{monitorings.first.created_at - started} -- (#{downtime})" %>
      <%
            elsif !prev.nil?
              downtime += m.created_at - prev.created_at
      %>
      <%= "------ #{m.created_at - prev.created_at} -- (#{downtime})" %>
      <%
            end
          end
          prev = m
        end

        if !prev.nil? && prev.status == Monitoring::DOWN
          downtime += Time.now - prev.created_at
      %>
      <%= "------ #{Time.now - prev.created_at} -- prev (#{downtime})" %>
      <%
        end
      %>

      <%= total_time = ended - started %>
      <%= (downtime / total_time) * 100 %>
      <%= 100 - ((downtime / total_time) * 100) %>

  <% end %>
      </pre>
      <ul>
        <li>No tickets</li>
      </ul>
    </div>
  </div>
</div>
<% end %>
