<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <%= link_to Setting.app_title, :root, :class => "brand" %>

        <% if user_signed_in? %>
            <div class="btn-group pull-right">
                <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user icon-white"></i> <%= current_user.email %>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "My account", :edit_user_registration %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Administration", :admin %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", :destroy_user_session, :method => :delete %></li>
                </ul>
            </div>
        <% elsif controller_name == 'sessions' && devise_mapping.registerable? %>
            <ul class="nav pull-right"><li><%= link_to "Sign up", :new_user_registration %></li></ul>
        <% else %>
            <ul class="nav pull-right"><li><%= link_to "Sign in", :new_user_session %></li></ul>
        <% end %>

        <% if user_signed_in? %>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><%= link_to t(:dashboard), :dashboard %></li>
                    <li><%= link_to "Servers", :servers %></li>
                </ul>
            </div> <!--/.nav-collapse -->
        <% end %>
        </div>
    </div>
</div>

<!-- Todo subnav -->
<% if current_server %>
<div class="subnav subnav-fixed">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="brand invisible"><%= link_to Setting.app_title, "#" %></li>
            <li class="invisible"><%= link_to t(:dashboard), "#" %></li>
            <li class="server"><%= link_to current_server.name, server_path(current_server) %></li>
            <li class="divider-vertical"></li>
            <li class="active">
                <%= link_to server_path(current_server) do %>
                    <i class="icon-time"></i> Overview/Activity
                <% end %>
            </li>
            <li>
                <%= link_to servers_monitorings_path(current_server) do %>
                    <i class="icon-signal"></i> Monitorings
                <% end %>
            </li>
            <li>
                <a href="#graphs"><i class="icon-tasks"></i> Graphs or Activity</a>
            </li>
            <li>
                <a href="#backups"><i class="icon-hdd"></i> Backups</a>
            </li>
            <li>
                <%= link_to edit_server_path(current_server) do %>
                    <i class="icon-wrench"></i> Settings
                <% end %>
            </li>
        </ul>
    </div>
</div>
<% end %>
