<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= raw("#{yield(:title)} | ") if content_for?(:title) %><%= Setting.app_title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application" %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>

    <%= yield(:header) %>
</head>
<body class="<%= yield(:body_class) %><%= current_server ? raw('with-subnav') : nil %>">

    <%= render "layouts/navbar" %>

    <div class="container">

        <!-- Flash -->
        <div id="flash_area">
            <%= format_flashes() %>
        </div>

        <% if content_for?(:admin_sidebar) %>
        <div id="yield">
            <div class="page-header">
                <h1>Administration</h1>
            </div>

            <div class="row">
                <div class="span3">
                    <%= yield(:admin_sidebar) %>
                </div>
                <div class="span9">
                    <%= yield.blank? ? raw("&nbsp;") : yield %>
                </div>
            </div>
        </div> <!-- /.yield -->
        <% else %>
        <div id="yield">

            <%= yield %>

        </div> <!-- /.yield -->
        <% end %>

        <hr>

        <footer>
            <p>Powered by <%= link_to RMonitor::Info.app_name, RMonitor::Info.url %> &copy; <%= Time.current.year > 2011 ? "2011—#{Time.current.year}" : "2011" %> <%= link_to "Nicolas Brousse", "http://nicolas-brousse.fr" %>  — v<%= RMonitor::VERSION::ARRAY[0,3].join('.') %></p>
        </footer>
    </div> <!-- /.container -->

    <%= javascript_include_tag "application" %>
    <%= yield(:javascript) %>

</body>
</html>
