<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'RMonitor', :admin, :class => "brand" %>

    <% if user_signed_in? %>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <%= current_user.email %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><%= link_to "Sign Out", :destroy_user_session, :method => :delete %></li>
        </ul>
      </div>
    <% elsif controller_name == 'sessions' && devise_mapping.registerable? %>
      <ul class="nav pull-right"><li><%= link_to "Sign up", :new_user_registration %></li></ul>
    <% else %>
      <ul class="nav pull-right"><li><%= link_to "Sign in", :new_user_session %></li></ul>
    <% end %>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to 'Dashboard', :admin %></li>
          <li><a href="<%= url_for(:admin_servers) %>">Servers</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class="container">

  <ul class="breadcrumb">
    <li><%= link_to "RMonitor Admin", :admin %> <span class="divider">&rarr;</span></li>
    
    <% if @breadcrumbs %>
      <% @breadcrumbs[0..-2].each do |txt, path| %>
        <li><%= link_to(h(txt), path) %> <span class="divider">></span></li>
      <% end %>
      <li class="active"><%= link_to(h(@breadcrumbs.last.first), @breadcrumbs.last.last) %></li>
    <% else %>
      <li class="active">Home</li>
    <% end %>
  </ul>

  <!-- Alert -->
  <% [:alert, :notice, :info, :error, :success].each do |key| %>
    <% if flash[key] %>
    <div class="alert alert-block <%= format_flash_class(key) %> fade in" data-alert="alert">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <%= flash[key] %>
    </div>
    <% end %>
  <% end %>

  <div id="yield">
    <%= yield %>
  </div>

  <hr>

  <footer>
    <p>&copy; <%= link_to "nicolas-brousse.fr", "http://nicolas-brousse.fr" %>  <%= Time.now.year > 2011 ? "2011—#{Time.now.year}" : "2011" %> — v <%= RMonitor::VERSION::ARRAY[0,3].join('.') %></p>
  </footer>

</div> <!-- /container -->

<%= javascript_include_tag "application" %>

</body>
</html>
