<!DOCTYPE html>
<html>
<head>
  <title>RMonitor</title>
  <%= stylesheet_link_tag "application" %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= link_to 'RMonitor', :root, :class => "brand" %>
      <ul class="nav">
        <li class="active"><%= link_to 'Dashboard', :root %></li>
        <li><a href="<%= url_for(:projects) %>">Servers</a></li>
      </ul>

      <ul class="nav secondary-nav">
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">pseudo</a>
          <ul class="dropdown-menu">
            <li><a href="#">Personnalisation</a></li>
            <li><a href="#">Administration</a></li>
            <li class="divider"></li>
            <li><a href="#">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="submenu">
  <div class="container">
    <ul class="tabs">
      <li class="active"><a href="#home">Monitoring</a></li>
      <li><a href="#dns">DNS</a></li>
      <li><a href="#backups">Backups</a></li>
      <li><a href="#settings">Settings</a></li>
    </ul>
  </div>
</div>

<div class="container">

  <%= yield %>

  <footer>
    <p>&copy; <%= link_to "nicolas-brousse.fr", "http://nicolas-brousse.fr" %> 2011</p>
  </footer>

</div> <!-- /container -->

<%= javascript_include_tag "application" %>

</body>
</html>
